.informacoes {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 50px;
}

.facalogin {
  padding-top: 50px;
  padding-right: 50px;
  text-align: center;
}

.login-button {
  margin-top: 20px;
}
