* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #242424;
}

.picture {
  position: relative;
  height: 750px;
}

.texto{
  color: white;
  margin-top: 20px;
  text-align: center;
}