* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgColor: #ababab;
  --corTexto:#000
  /* background-color: #242424; */
}

@media (prefers-color-scheme: dark){
  :root {
    --bgColor: #000000d7;
    --corTexto:#fff
    /* background-color: #242424; */
  }
}

body{
  background: var(--bgColor) !important;
}

.texto {
  color: white;
  margin-top: 20px;
  text-align: center;
}
