.home {
  height: 35px;
  margin: 20px;
}

.closet {
  height: 35px;
  margin: 20px;
}

.book {
  height: 35px;
  margin: 20px;
}

.people {
  height: 35px;
  margin: 20px;
}

.icon {
  height: 35px;
  margin: 20px;
}

.carrinho{
  margin: 0px;
}